In [1]:
string=""" hey my name is arman hossain  , i want to dream in abroad . i alaways feel hasitation because I do
dont know that i can do it"""
print(string)

 hey my name is arman hossain  , i want to dream in abroad . i alaways feel hasitation because I do
dont know that i can do it

In [2]:
idx=string.find("arman")
print(idx)

16

#it there is a multiple string i want to see at last string of this multiple string

In [5]:
id=string.rfind("do")
print(id)

121

In [6]:
count=string.count("do")
print(count)

3

In [7]:
replace=string.replace("do","must")
print(replace)

 hey my name is arman hossain  , i want to dream in abroad . i alaways feel hasitation because I must
mustnt know that i can must it

#tokennization

#spliting,joining,formatted string

In [8]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [9]:
len=len(string)
print(len)

126

In [10]:
txt="the best things in life are free"
print("free" in txt)

True

In [12]:
if "arman" in txt:
    print("yes baby its here ")

else:
    print("no baby its not here  search another things ")

no baby its not here  search another things

In [13]:
print("arman" not in txt)

True

In [18]:
message=""" hello Iam recenty join the 
course of python AI/ml course """
a=message
print(a.upper())
print(a.lower())
print(a.capitalize())

 HELLO IAM RECENTY JOIN THE
COURSE OF PYTHON AI/ML COURSE
 hello iam recenty join the
course of python ai/ml course
 hello iam recenty join the
course of python ai/ml course

এর মানে — যদি তোমার কোনো স্ট্রিং-এর শুরুতে বা শেষে অতিরিক্ত স্পেস বা কিছু নির্দিষ্ট চিহ্ন থাকে, তাহলে strip() সেগুলো সরিয়ে দেয়।

In [27]:
ar="                       \r\f my name is Arman \n  "
print(ar.strip())

my name is Arman

In [ ]:
name = input("Enter your name: ")  # ধরো ইনপুট: "  Arman  "
clean_name = name.strip()
print("Welcome,", clean_name)

Problem 1: Common Friends (Set Operations)
Problem:
 Given two sets of friends from two people, find the mutual friends, unique friends of each, and the total number of unique friends.\n

Example Input:

a_friends = {"Rahim", "Karim", "Sakib", "Jamal"}

b_friends = {"Sakib", "Jamal", "Rafiq", "Nadim"}

Expected Output:

Mutual friends: {'Sakib', 'Jamal'}

Unique to A: {'Rahim', 'Karim'}

  Unique to B: {'Rafiq', 'Nadim'}

Total unique friends: 6

In [3]:
a_friends = {"Rahim", "Karim", "Sakib", "Jamal"}
b_friends = {"Sakib", "Jamal", "Rafiq", "Nadim"}
c=a_friends.intersection(b_friends)
print("Mutual friends is : ",c)
d=a_friends.difference(b_friends)
print("Unique to A:",d)
e=b_friends.difference(a_friends)
totall_unique=a_friends.union(b_friends)
print(totall_unique)
totall=len(totall_unique)
print("Totall unique name is :",totall)

Mutual friends is :  {'Sakib', 'Jamal'}
Unique to A: {'Karim', 'Rahim'}
{'Nadim', 'Rafiq', 'Jamal', 'Sakib', 'Karim', 'Rahim'}
Totall unique name is : 6

list method in python and also list concatanation

In [4]:
even=[]

for i in range(10):
    if i%2==0:
        even.append(i)

print(even)

[0, 2, 4, 6, 8]

same things we can do in list comprehension

In [7]:
even=[x for x in range(10) if x%2==0]
print(even)

[0, 2, 4, 6, 8]

In [8]:
fruits=["banana",'orange','mango','lemon']
c=[]
for i in fruits:
 c.append(i.capitalize())

print(c)

['Banana', 'Orange', 'Mango', 'Lemon']

but in list compression we can do it  in a simple way

In [ ]:
lower=[fruit.lower() for fruit in fruits]
print(lower)

['banana', 'orange', 'mango', 'lemon']

In [10]:
upper=[fruit.upper() for fruit in fruits]
print(upper)

['BANANA', 'ORANGE', 'MANGO', 'LEMON']

In [ ]:
promt="what is life guys "
token=promt.split()
print(token)

for i in token:
    print(i)

string=" ".join(token)
print(string)

['what', 'is', 'life', 'guys']
what
is
life
guys
what is life guys

here we take input as a list y using split ()

In [15]:
n=input("ente a string : ")

a=n.split()
print(a)

['hu', 'my', 'name']

list method

In [27]:
lst=[10,20,30,40,50,60]
lst.append(80)

print(lst)

lst.insert(0,100)
print(lst)
lst.pop(0)#give here index value not given value 
print(lst)
lst.sort()
print(lst)
lst.reverse()
print(lst)
lst.remove(10)
print(lst)
print(lst[0])

[10, 20, 30, 40, 50, 60, 80]
[100, 10, 20, 30, 40, 50, 60, 80]
[10, 20, 30, 40, 50, 60, 80]
[10, 20, 30, 40, 50, 60, 80]
[80, 60, 50, 40, 30, 20, 10]
[80, 60, 50, 40, 30, 20]
80

TUPLE

IN Python

In [ ]:
tuo=(10,23,'arman',True)
print(tuo)
tuo[0]=100
print(tuo)#tuple  are immautable

(10, 23, 'arman', True)

TypeError: 'tuple' object does not support item assignment

dictionary in python and it a method and iteration

Dictionay view method in python

In [33]:
dic={'ID':231061008,'name':'arman','age':20}
key=dic.keys()
print(key)
print(dic.values())
for key,value in dic.items():
    print(key,value)

dict_keys(['ID', 'name', 'age'])
dict_values([231061008, 'arman', 20])
ID 231061008
name arman
age 20

In [39]:
#dictionanry comprehension
square={x:x**2 for x in range(10)if x%2==0}
print(square)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}